<div id="peaks-container"></div>
<div class="peaks-control">
  <div class="peaks-audio">
    <audio id="peaks-audio" controls="controls">
      <source src={{src}} type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <button onclick={{action zoomIn}} class="button">Zoom In</button>
  <button onclick={{action zoomOut}} id="zoomOut" class="button">Zoom Out</button>
  <button onclick={{action createSegment}} class="button">New annotation</button>
</div>
