<div id="peaks-container" class="mb6 pb2"></div>

<div class="peaks-control absolute bgc--p bottom-0 left-0 right-0">
  <div class="peaks-audio">
    <audio id="peaks-audio" class="w-100" controls="controls">
      <source src={{src}} type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="container cf">
    <button onclick={{action zoomIn}} class="btn link f6 ph3 pv2 dib bg-white fr"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button onclick={{action zoomOut}} id="zoomOut" class="btn link f6 ph3 pv2 dib bg-white mr1 fr"><i class="fa fa-minus" aria-hidden="true"></i></button>
    <button onclick={{action createSegment}} class="btn link f6 ph4 pv2 dib bg-white">New annotation</button>
  </div>
</div>
