<div id="peaks-container" class="mb6 pb2"></div>

<div class="peaks-control absolute bottom-0 left-0 right-0 bg-white">
  <div class="peaks-audio">
    <audio id="peaks-audio" class="w-100" controls="controls">
      <source src={{src}} type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="container cf">
    <button onclick={{action zoomIn}} class="btn link f6 ph3 pv2 dib bgc--b white fr">Zoom In</button>
    <button onclick={{action zoomOut}} id="zoomOut" class="btn link f6 ph3 pv2 dib bgc--b white mr2 fr">Zoom Out</button>
    <button onclick={{action createSegment}} class="btn link ph4 pv2 dib bgc--t white">New annotation</button>
  </div>
</div>
