{{#if readOnly}}
  <div class="toolbar">
    <a class=""
       href="https://facebook.com">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Share on facebook
    </a>
    <a class="twitter-share-button"
       href="https://twitter.com/intent/tweet?text=Hello%20world">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      Tweet
    </a>
  </div>
{{/if}}
<div class="editor">
</div>
