// color palette https://cl.ly/3h2p0Q0r000w
$text: #333333;
$primary: #d8e9ef;
$secondary: #4ea1d3;
$tertiary: #e85a71;
$dark: #454552;

@import 'lc/_layout';
@import 'lc/_typography';
@import 'lc/_links';
@import 'lc/_utilities';

