sidebar {
  @include flex(1 1 3/12*100%);
  background-color: rgba(51,51,51,0.05);
}
main {
  @include flex(1 1 9/12*100%);
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.text-editor-container {
  height: 200px;
}

.text-preview {
  height: 200px;
}
