// color palette https://cl.ly/3h2p0Q0r000w
$tt-primary: #333333;
$tt-secondary: #4ea1d3;
$bg-primary: #d8e9ef;
$bg-secondary: #4ea1d3;
$bg-tertiary: #e85a71;

// resets
body {
  font-size: 16px;
}
body, .f--b {
  font-family: 'Roboto', sans-serif;
  line-height: 1.375em;
}
h1, h2, h3, h4, h5, h6, .f--h {
  font-family: 'Roboto Slab', serif;
}
a {
  color: $tt-secondary;
}
a:hover, a:active, a:focus {
  color: darken($tt-secondary, 25%);
}
[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

// utilities
.bgc--p {
  background-color: $bg-primary;
}
.bgc--s {
  background-color: $bg-secondary;
}
.bgc--t {
  background-color: $bg-tertiary;
}
.btn {
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
}

// layout
.container {
  padding: $spacing-medium $spacing-large;
}
sidebar {
  background-color: rgba(#454552, 0.07);
}
.main {
  background-color: rgba(#454552, 0.02);
}

// index
.card_ovl {
  opacity: 0;
  &:hover {
    opacity: 1;
    transition:opacity .15s ease-in;
  }
}
.fboard {
  margin-right: -16px;
  margin-left: -16px;
}
// episode
.mboard {
  column-count: 1;
  column-gap: 0;
  margin-right: -8px;
  margin-left: -8px;
}
.mboard_card {
  break-inside: avoid;
}
@media #{$breakpoint-medium} {
  .mboard {
    column-count: 2;
  }
}
@media #{$breakpoint-large} {
  sidebar {
    @include flex(1 1 2/12*100%);
  }
  .main {
    @include flex(1 1 10/12*100%);
  }
  .mboard {
    column-count: 3;
  }
}
