.card-editor {
  .editor {
    height: 200px;
  }
}
.mboard_card {
  .ql-editor {
    padding: 32px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.375em;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto Slab', serif;
    }
    ul {
      padding-left:10px;
    }
    blockquote {
      border-left: 3px #777 solid;
      padding: 5px 0 5px 10px;
      font-style: italic;
    }
    a {
      color: #4ea1d3;
    }
    a:hover, a:visited, a:active, a:focus {
      color: darken(#4ea1d3, 25%);
    }
  }
}
