<form {{action save quote quotee on="submit"}}>
  <div class="ph4 w-600">
    <blockquote class="f--h">
      <p>
        {{textarea value=quote  placeholder="To be, or not to be: that is the question" class="b--light-gray w-100 pa2"}}
      </p>
      <cite>
        {{input value=quotee placeholder="William Shakespeare" class="f6 ttu tracked fs-normal fw3 ba b--light-gray input-reset w-100 pa2"}}
      </cite>
    </blockquote>
    <button class="btn bgc--b white ph3 pv1 f6" {{action cancel}}>Cancel</button>
    <button class="btn bgc--b white ph3 pv1 f6" type="submit">Save</button>
  </div>
</form>
