<div>
  {{#ember-tether
     target='#side-content'
     targetAttachment='top left'
     attachment='top left'
  }}
    {{!-- <img class="p1" src={{model.itunesImage}} style="width: 200px;"> --}}
    <h3 class="dn db-l">{{model.title}}</h3>
    <ul class="list pl0 dn db-l">
      {{#each model.episodes as |episode|}}
        <li>
          {{link-to episode.title "podcasts.show.episode" model episode}}
        </li>
      {{/each}}
    </ul>
  {{/ember-tether}}
  <div>
    <div class="border">
      {{liquid-outlet}}
    </div>
  </div>
</div>
