<div>
  <blockquote class="f--h ml0 mt0 pl4 bl bw2 b--black">
    <p class="f4 lh-copy measure mt0 fw3">
      {{quote}}
    </p>
    {{#if quotee}}
      <cite class="f6 ttu tracked fs-normal fw3">―{{quotee}}</cite>
    {{/if}}
  </blockquote>
</div>
