<form {{action save href on="submit"}}>
  {{input value=href placeholder="Paste the text and image code for the product"}}
  <button type="submit">Add</button>
  <button {{action cancel}}>Cancel</button>
</form>
