<article class="mw7 center ph3 ph5-ns tc br2 pv5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Crowd annotations for podcasts
  </h1>
  <p class="fw1 f5 mt0 mb3">
    Stay tuned!
  </p>
</article>
