<header class="p2">
  <div class="flex">
    <div class="">
      <a href="http://www.clker.com/cliparts/3/0/c/8/1365225091802081299Soundwave Audio.svg.thumb.png">
        <img src='http://www.clker.com/cliparts/3/0/c/8/1365225091802081299Soundwave Audio.svg.thumb.png' alt='Soundwave Audio clip art'/>
      </a>
    </div>
    <div class="flex-auto ml1">
      <h1 class="m0">{{link-to "The Listening Crowd" "index"}}</h1>
      <p class="h3 mt1 mb1">Connecting podcasts lovers around the world!</p>
    </div>
  </div>
</header>
<main role="main" class="flex-auto m1">
  {{liquid-outlet}}
</main>
