<div class="flex">
  <div class="flex-auto">
    <div class="container">
      <div class="f0">
        {{#each model as |episode|}}
          <div class="w-25-l w-50-m w-100 dib pa2-ns pb2 f5 v-top">
            <div class="bg-near-white ba b--near-white">
              <img class="img" src={{episode.podcast.itunesImage}}>
              <div class="pa3 cf">
                <h3>{{link-to episode.title "podcasts.show.episode" episode.podcast episode}}</h3>
                {{!-- the inline style shouldnt be necessary in the future. The literal html is causing this --}}
                <p style="word-wrap:break-word">{{episode.summary}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
