<div class="container">
  <div class="w-25 ba b--near-white dib">
    {{gravatar-image
      email=session.data.authenticated.profile.email
      class="db w-100"
    }}
    <div class="pa4 cf">
      <form class="db">
        <input class="ph2 pv1 w-100 border-box mb2" value="" placeholder="Your Name">
        <input class="ph2 pv1 w-100 border-box mb3" value="{{session.data.authenticated.profile.email}}" placeholder="Your Email">

        <input class="btn link dim dib ph4 pv2 bgc--t white f6" type="submit" value="Save">
      </form>
     {{!--  <a class="btn link dim dib ph4 pv2 bgc--t white f6" {{ action "logout" }}>Logout</a> --}}
    </div>
  </div>
</div>
